$slightly-desaturated-blue: #7B9DBA;
$dark-desaturated-blue: #2A4350;
$lime-green: #82c098;
$dark-grayish-cyan: #8EB0B2;
$pure-cyan: #00bce2;
$strong-blue: #2a8ac2;
$dark-violet: #525075;
$dark-blue: #0a2439;
$light-grayish-red: #f9f1f1;
$turquoise: $strong-blue;
$pure-blue: #119DCB;
$light-blue: #005694;
$green-blue: #00A499;
$light-gray: #5F6062;
$dark-gray: #2b3b4c;
